<%= stylesheet_link_tag 'application.css' %>

<header id='main-header'>
    <h1 class="header"> Welcome <%= @user.name %> </h1>
</header>
<nav id='main-nav'>
        <h2> Plan your next adventure </h2>
        <ul>
            <li><a href="/trails">Trails</a></li>
            <li><a href="/trail_lists">Saved Trails</a></li>
            <li><a href="/hikes">Group Hikes</a></li>
            <li><%= button_to 'Log Out', {:controller => :sessions, :action => 'destroy'}, :method => :delete%></li>
        </ul>
</nav>
<section id="user-show">
        <div class='user-container'>
            <div class='user-content'>
                <h1>Your Scheduled Hikes</h1>
                    <div class="user-hikes">
                        <% @user.hike_sign_ups.each do |sign_up| %>
                            <div class='card'>
                                <h2><%=sign_up.hike.trail.name%></h2>
                                <p>Scheduled Date: <%=sign_up.hike.hike_date%> <p>
                                <div class='trail-img'>
                                    <img src="<%=sign_up.hike.trail.imgMedium%>">
                                </div>
                                <%=link_to "More Info","/hikes/#{sign_up.hike.id}", :class =>'btn btn-primary' %>
                            </div>
                        <% end %>
                    </div>
            </div>
        </div>
</section>

<footer id='main-footer'>
    <div class='footer-container'>
        <p>CEEB &copy;2020, All Rights Reserved</p>
    </div>
</footer>