<%= stylesheet_link_tag 'application.css' %>

<header id='main-header'>
  <h1> <%= @hike.trail.name %> </h1>
  <p> Hike on <%=@date%> at <%=@hike.time%> </p>
</header>
<main id="show-hike">
    <div class="container">
        <div class="hike-container py-3">
            <div class="trail-info">
                <p> <%= @hike.trail.summary %> </p>
                <ul class='py-1'>
                    <li> <strong>Rating:</strong> <%= @hike.trail.stars %>/5.0</li>
                    <li> <strong>Location:</strong> <%= @hike.trail.location %></li>
                    <li> <strong>Length:</strong> <%= @hike.trail.length %> miles</li>
                </ul>
                <img src="<%= @hike.trail.imgMedium %>">
            </div>
            <div class="hike-info">
                <h2 class='meetup'>We’ll meet at the trail head at <%= @hike.time %></h2>
                <div class="registered-hikers">
                    <h2>Trail Buddies</h2>
                    <ul>
                        <% @sign_ups.each do |su| %>
                        <li><%= su.user.name %></li>
                        <% end %>
                    </ul>
                </div>
                <div class="hike-sign-up">
                    <form action='/hike_sign_ups' method="POST">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="hike_sign_up[hike_id]" value="<%= @hike.id %>">
                        <input type="submit" class="btn btn-primary" value="Register">
                    </form>
                </div>

                <%= button_to "Return to Homepage", user_path(session[:id]), method: "get", class: "btn btn-primary" %>
            </div>
        </div>
    </div>
</main>
<footer id='main-footer'>
    <div class='footer-container'>
        <p>CPEB &copy;2020, All Rights Reserved</p>
    </div>
</footer>




