<header id='main-header'>
  <h1>Sign Up</h1>
</header>
<section id='show-trail'>
    <div class='container trail-container py-3'>
        <div class='trail-info'>
            <h1><%= @trail.name %></h1>
            <p> <%= @trail.summary %> </p>
            <ul>
                <li> <strong>Rating:</strong> <%= @trail.stars %>/5.0</li>
                <li> <strong>Location:</strong> <%= @trail.location %></li>
                <li> <strong>Length:</strong> <%= @trail.length %> miles</li>
            </ul>
            <img src="<%= @trail.imgMedium %>">
            <p><%= @trail.likes.count %> <%= (@trail.likes.count) == 1 ? 'Like' : 'Likes'%></p>
            <% flash.each do | key, v | %>
                <li style='color: red '> <%= v %> </li>
            <% end %>
            <%= button_to 'Like',{:controller => 'likes', :action => 'create'}, method: "post", params: {like:{trail_id: @trail.id}}, class: 'btn btn-primary'%>
        </div>
        <aside class='hike-info'>
            <div class="new-hikes">
                <h1>Plan a hike</h1>
                <form action='/hikes' method='POST' class='new-hike-form'>
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="hike[trail_id]" value="<%= @trail.id %>">
                    <div class="form-input">
                        <label for="hike_date">Date:  </label>
                        <input type="date" name="hike[hike_date]" />
                    </div>      
                    <div class="form-input">
                        <label for=“time”>Time: </label>
                        <input type=“text” name=“hike[time]” />
                    </div>
                    <input type="submit" class='btn btn-primary'>
                </form>
            </div>
            <div class="planned-hikes">
                <h3>Scheduled Hikes</h3>
                <ul>
                    <% @hikes.each do |hike| %>
                    <li><%= link_to hike.hike_date.strftime('%m/%d/%Y'), hike_path(hike) %></li>
                    <% end %>
                </ul>
            </div>
        </aside>
        <div class="comments-section">
            <h2>Leave a Comment</h2>
            <form action='/comments' method='POST' class='new-comment-form' >
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="comment[trail_id]" value="<%= @trail.id %>">
                <div class="form-input">
                    <label for="comment[content]">Comment</label>
                    <input type="textarea" name="comment[content]" />
                </div>
                <input type="submit" class="btn btn-primary">
            </form>
            <h2>Comments:</h2>
            <ul class='comments'>
                <% @comments.each do |comment| %>
                <li><%= comment.content %></li>
                <% end %>
            </ul>
        </div>
        <div class="return-home">
            <div class="to-trail-list">
                <%= button_to 'Save to Your Trails',{:controller => 'trail_lists', :action => 'create'}, method: "post", params: {trail_lists:{trail_id: @trail.id}}, class: 'btn btn-primary'%>
            </div>
            <%= button_to "Return to Homepage", user_path(session[:id]), method: "get", class: 'btn btn-primary' %>
        </div>
    </div>
</section>
<footer id='main-footer'>
    <div class='footer-container'>
        <p>CPEB &copy;2020, All Rights Reserved</p>
    </div>
</footer>